.body-container{
    display: flex;
    background: transparent;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#map { 
    height: 80vh; 
    width: 70%;
    margin: 0.8rem;
}


form{
    display: flex;
    gap: 2rem;
}

input[type="text"]{
    height: 30px;
    padding: 5px;
    border-radius: 30px;
    width: 200px
}

input[type="text"]::placeholder{
    margin: 40px
}

button{
    padding: 8.5px 18px;
    border-radius: 2rem;
    background: #3d5a80;
    border: none;
    color: white;
    transition: var(--transition);
}

button:hover{
    background: #918d8d;
}