.body-container{
    display: flex;
    background: transparent;
    height: 100vh;
    justify-content: space-evenly;
    width: 100%;
}

#map { 
    height: 80vh; 
    width: 70%;
    margin: 0.8rem;
}

.list-cities{
    width: 300px;
    background: transparent;
    position: relative;
    left: 0;
    height: 80vh;
    overflow: hidden;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0.8rem;
}

.cities-name{
    color: var(--text-black);
    height: 60px;
    width: 100%;
    padding: 2px;
    border-color: var(--white);
    background: #3d5a80;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: var(--transition);
}
.cities-name:hover{
    border: 1px solid var(--white);
}
.cities-name:focus{
    scale: 1.2;
    background: #2c405b;
}

.pagination-section{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    transform: translateY(50%);
    bottom: 2rem;
}
.pagination-button{
    padding: 10px 18px;
    border-radius: 2rem;
    background: #3d5a80;
    border: none;
    color: white;
    transition: var(--transition);
}

.pagination-button:hover{
    background: #918d8d;
    scale: 1.1;
}
.cloud-deiscription{
    display: flex;
}